.App {
  text-align: center;
}

.App > h1 {
  color: #50b7f5;
  font-style: oblique;
}

.App > h2 {
  font-style: oblique;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #50b7f5;
  width: 50%;
  margin-bottom: 20px;

  border-radius: 25px;
  margin-left: 200px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}
